{% extends 'base.html' %}

{% block main %}
    List
    <br>
    {% for funcionario in object_list %}
        <a href="{% url 'update_funcionario' funcionario.id %}" style="text-decoration: none;">
            {{ funcionario }}
        </a> 
        <a href="{% url 'delete_funcionario' funcionario.id %}" style="text-decoration: none;">
            Deletar
        </a> <br>
    {% endfor %}

    <a href="{% url 'create_funcionario' %}" class="btn btn-info" style="margin-top: 10px;"> Novo </a>
    <a href="{% url 'relatorio_funcionarios' %}" class="btn btn-info" style="margin-top: 10px;">
        Relatório de Funcionários
    </a>
    <a href="{% url 'relatorio_funcionarios_html' %}" class="btn btn-info" style="margin-top: 10px;">
        Relatório de Funcionários HTML
    </a>
    <a href="{% url 'relatorio_funcionarios_html_debug' %}" class="btn btn-danger" style="margin-top: 10px;">
        Relatório de Funcionários HTML 
    </a>
{% endblock %}